/**
 * Float Layout Activity
 **/
 * {
  box-sizing: border-box;
  text-align: center;
}
body {
}
header {
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(17, 16, 16);
  background: rgba(204, 204, 204, 0.288);
}
section {
}
#left {
  background-color: rgb(109, 103, 103);
}
#middle {
  background-color: rgb(214, 211, 219);
}
#right {
  backgro
}
#full {
}
#division {
}
aside {
}
footer {
}